{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

     <h2> {{ _("Books") }} </h2>

    <table class="table">

        <tr>

            <th> {{ _("ID") }} </th>

            <th>{{ _("Title") }} </th>

            <th>{{ _("Genres") }} </th>

        </tr>

        {% for book in books %}

            <tr>

                <td>

                    {{ book.id }}

                </td>

                <td>

                    {{ book.title }}
                </td>


                <td>

                    {{ book.genres.replace("|", ", ") }}

                </td>

            </tr>

        {% endfor %}

    </table>

{% endblock %}
